.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
  row-gap: 1.5rem;
  margin-top: 2rem;
  width: 100%;
}

.card {
  height: 125px;
  display: flex;
  background-color: var(--ifm-background-surface-color);
  border: 1px solid #2d2f30;
  border-radius: 12px;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: all 0.2s ease;
  box-shadow: var(--ifm-global-shadow-lw);
  flex-direction: column;
  justify-content: center;     /* vertical */
  align-items: center;         /* horizontal */
  text-align: center;
}

.card:hover {
  border-color: #d94d4c; /* rouge accent */
  box-shadow: var(--ifm-global-shadow-md);
}

.card h3 {
  margin: 0 0 0.35rem 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.card p {
  color: var(--ifm-color-content-secondary);
  font-size: 0.9rem;
  margin: 0;
}

.inner {
  max-width: var(--content-max-width);
  margin: 0 auto;
}